{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link href="{{ SITEURL }}/theme/css/comunidade.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block bannertext %}
  <h1>{{ page.title }}</h1>
{% endblock %}

{% block navbar %}
  {% include "includes/navbar-home.html" %}
{% endblock %}

{% block content %}
<div class="container content-container">
  <div class="row center-align">
    <div class="col s12 m4 icon-block">
      <h5>Mídias sociais</h5>

      <p><b>
        Siga o PUG-PB nas mídias sociais para ficar por dentro dos encontros,
        novidades e postagens do nosso blog.
          </b>
      </p>

      <div class="center">
        <a class="{{ MALT_BASE_COLOR }} waves-effect waves-light btn"
           href="https://twitter.com/__pugpb__"><i
                class="fa fa-twitter fa-2x"></i> Twitter</a>
          <a class="{{ MALT_BASE_COLOR }} waves-effect waves-light btn"
             href="https://www.facebook.com/pug-pb"><i
                  class="fa fa-facebook fa-2x"></i> Facebook</a>
      </div>
    </div>

    <div class="col s12 m4 icon-block">
      <h5>Telegram</h5>

      <p><b>
        Possuimos também um grupo no Telegram. Para participar é só
        clicar no link abaixo.
          </b>
      </p>

      <div class="center">
        <a class="{{ MALT_BASE_COLOR }} waves-effect waves-light btn" href="https://t.me/pugpb"><i class="fa fa-paper-plane fa-2x"></i> Telegram</a>
      </div>
    </div>

    <div class="col s12 m4 icon-block">
      <h5>Lista de emails</h5>

      <p><b>
        Para quem curte o bom e velho email, temos a lista de discussão oficial
        do PUG-PB no google groups.
          </b>
      </p>

      <div class="center">
          <a class="{{ MALT_BASE_COLOR }} waves-effect waves-light btn"
             href="https://groups.google.com/forum/#!forum/pug-pb"><i
                  class="fa fa-envelope fa-2x"></i> Lista</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
